.mod-mini-login{
    &-header{
        cursor: pointer;
        font-family: $regular;
        font-size: 13px;
        padding: 10px 20px;
        text-align: center;
        min-height: 35px;
        color: #a0a0a0;
        @include transition(all .2s ease);
        > span[id$="lbhKUTU_HESABIM"]{
            display: inline-block;
            max-width: 130px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &-footer{ display: none; }
    &-body{
        .sub {
            position: absolute;
            top: 35px;
            right: 0;
            z-index: 10;
            background: $lGray;
            width: 350px;
            padding: 30px 30px;
            .ems-message{
                margin-bottom: 20px;
                &:empty{ display: none; }
            }
            .sub-title{
                margin: 0;
                font-weight: normal;
                font-size: 13px;
                font-family: $bold;
                padding-bottom: 20px;
                text-align: center;
                display: none;
            }
            .ems-form{
                &-inner{
                    .ems-field{
                        .seperator{
                            display: none;
                            span{
                                font-size: 13px;
                                color: #bebebe;
                                font-family: $regular;
                                display: block;
                                padding: 15px 0 15px 0;   
                            }
                        }
                        .ems-form-obj{
                            margin-bottom: 10px;
                            input{
                                background: #fff;
                            }
                        }
                        #lnkSifremiUnuttum{
                            float: left;
                            span{
                                font-size: 15px;
                                color: #a0a0a0;
                                font-family: $medium;
                            }
                        }
                        span[id$="lbflnkUyeOlmak"]{
                            float: right;
                            a.lnkUyeOlmak{
                                span{
                                    font-family: $bold;
                                    font-size: 15px;
                                    color: $btnColor;
                                }
                            }
                        }
                        &-double{
                            margin-bottom: 30px;
                        }
                        &-free{
                            display: none;
                        }
                        &-submit{
                            a.btnDefault, a#lnkGuestCheckout{
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            &.login{
                width: 200px;
                padding: 20px;
            }
            .ems-user-info{
                display: none;
            }
            .ems-user-pages{
                > div * {
                    color: #a0a0a0;
                    font-size: 15px;
                }
                > div {
                    a{
                        display: inline-block;
                        padding:7px 10px;
                        &.btnKutuLogout{
                            padding: 15px 17px 15px 17px;
                            margin-top: 20px;
                            span{color: #fff;}
                        }
                        &:hover{ text-decoration: underline; }
                    }
                }               
            }
        }
    }
}

body.mini-login-ready{
    .mod-mini-login{
        &-header{
            background: $lGray;
            color: #000;       
        }
    }
    .vailLogin{ opacity: .3; visibility: visible; }
}

body.ems-logoff.mini-login-ready{
    .mod-mini-login{
        &-body{
            .sub.logoff{
                display: block;
            }
        }
    }
}

body.ems-login.mini-login-ready{
    .mod-mini-login{
        &-body{
            .sub.login{
                display: block;
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .mod-mini-login{
        &-header{ display: none; }
        &-body{
            .sub{
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                right: 0;
                background: #fff;
                padding: 0;
                .sub-title{
                    font-size: 20px;
                    color: #fff;
                    font-size: 20px;
                    background: $darkBlack;
                    padding-top: 20px;
                    margin-bottom: 20px
                }
                .ems-form{
                    &-inner{
                        padding: 0 50px 30px 50px;
                        .ems-field{
                            .ems-form-label{
                                float: none;
                                min-width: 100%;
                                color: $darkBlack;
                                font-family: $bold;
                                font-size: 17px;
                            }
                            .ems-form-obj{
                                margin-left: 0;
                                input{ height: 50px; line-height: 38px; color: $darkBlack; }
                            }
                            .seperator span{
                                font-size: 17px;
                                color: $darkBlack;
                                font-family: $bold;
                            }
                            #lnkSifremiUnuttum span{
                                color: $darkBlack;
                                font-family: $bold;
                                font-size: 17px;
                            }
                            &-free{
                                span[id$="lbflnkUyeOlmak"]{
                                    a.lnkUyeOlmak{
                                        color: #bebebe;
                                    }
                                }
                            }
                            &-submit{
                                a.btnKutuLogin, a.btnFacebookLoginKutu{
                                    max-width: 100%;
                                    padding-top: 18px;
                                    padding-bottom: 17px;
                                }
                            }
                        }
                    }
                }
                &.login{
                    width: 100%; padding: 0;
                }
                &.logoff{
                    .ems-form-inner{ padding-left: 20px; padding-right: 20px;}
                }
                .ems-user-info{
                    position: relative;
                    display: block;
                    font-size: 17px;
                    font-family: bold;
                    padding: 26px 50px;
                    background: $darkBlack;
                    color: #fff;
                    .member-account{display: none;}
                    .mobile-user-popup-close{
                        cursor: pointer;
                        position: absolute;
                        left: 8px;
                        width: 40px;
                        text-align: center;
                        padding: 5px;
                        top: 21px;
                        height: 30px;
                    }
                }
                .ems-user-pages{
                    padding-top: 10px;
                    > div * {
                        color: $darkBlack;
                        font-size: 17px;
                        font-family: $bold;
                    }
                    > div {
                        padding: 0 40px;
                        a{
                            display: block;
                            padding-top: 21px;
                            padding-bottom: 21px;
                            border-top: 1px solid #ededed;
                            text-transform: uppercase;
                            &.btnKutuLogout{
                                margin-bottom: 20px;
                            }
                        }
                        &:first-child{
                            a{ border: none;  }
                        }
                    }               
                }
            }
        }
    }

}