.ems-page {
    &-member{
        .ems-grid-message{
            .ems-grid-header {
                padding: 5px 0px;
                > div {
                    padding: 0;
                    text-align: center;
                }
                .col-1 {
                    width:10%;
                }
                .col-2 {
                    width:20%;
                    text-align: center;
                }
                .col-3{width:35%;}
                .col-4{width:20%;}
                .col-5{width:15%; text-align: right;}
            }
            .ems-grid-row{
                padding: 14px 0 !important;
                margin-bottom: -1px;
                > div{
                    font-size: 15px;
                    text-align: center;
                }
                .col-1{
                    width:10%; 
                    text-align: 
                    center; padding: 0;
                    img {
                        display: none;
                    }
                    &:before {
                        content:'\e935';
                        font-family: 'icomoon';
                        font-size: 16px;
                    }
                }
                .col-2{
                    width:20%;
                    a.lnkMesajOku {
                        max-width: 60px;
                        display: inline-block;
                        font-size: 12px;
                        color: $aGray;
                        text-align: left;
                        &::first-line {
                            color:#000;
                            font-size: 15px;
                        }
                    }
                }
                .col-3{width:35%;}
                .col-4{width:20%;}
                .col-5{width:15%; text-align: right;}
                .ems-grid-code a{margin-top: 0 !important;}
                &.newMessage {
                    .col-1 {
                        &:before {
                            content:'\e934';
                            color: $btnColor;
                        }
                    }
                }
            }
        }
        .ems-page-default-message {
            .kutuMesaj {
                display: block !important;
            }
            .page-top-desc {
                font-size: 15px;
            }
        }
    }
    .kutuMesaj {
        width: 100%;
        border-bottom:1px solid $aGray;
        margin: 20px 0;
        display: none;
        .kutuHeaderMesaj {
            display: none;
        }
        .kutuBodyMesaj {
            display: table;
            margin-bottom: -1px;
            >div {
                display: table-cell;
                &.active {
                    a {
                    border-bottom: 1px solid $btnColor;
                }
                }
            }
            a {
                padding: 10px 30px;
                position: relative;
                z-index: 2;
                display: block;
                span {
                    font-size: 15px;
                    font-family: $medium;
                }
            }
            .kutuMesaj_tum, .popupKutuMesaj_yeni {
                display: none;
            }
        }
    }
    
    .page-top-desc {
        font-size: 12px;
        color: #000;
    }
    .ems-message-error {
        background: $colorRed !important;
        color: #fff !important;
        border:1px solid #fff !important; 
        span {
            font-size: 15px;
            color: #fff;
            line-height: 24px;
            display: block;
            i {
                position: relative;
                top: 3px;
                &:before {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

/* Mesajlar */

#mesajGonder {
    max-width: 470px;
    width: 100%;
    .ems-form-col {
        width: 100%;
        display: inline-block;
    }
    .frmLeft {
        width: 49%;
        display: inline-block;
        float: left;
        margin-right: 2%;
        margin-bottom: 0;
    }
    .frmRight {
        width: 49%;
        display: inline-block;
        float: right;
        margin-bottom: 0;
    }
    .ems-form-full {
        width: 100%;
        display: inline-block;
    }
    input, textarea {width: 100% !important;}
    .frmAddress {
        textarea {
            height: 110px;
            padding: 20px 10px;
            line-height: 20px;
        }
    }
    .frmMessage {
        textarea {
            padding: 20px 10px;
            line-height: 20px;
            min-height: 120px;
            overflow: hidden;
        }
    }
    .msgCaptcha {
        margin: 20px 0 30px 0;
        display: block;
        img {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
        input {
            width: 50% !important;
        }
        br {display: none;}
    }
    .button {
        a {
            width: 50%;
        }
    }
}

.ems-page-default{
    &-message-detail{
        .ems-message-type, .msgDtHeader, .msgDtContent{
            li{
                display: table;
                width: 100%;
                table-layout: fixed;
                text-align: center;
                > span{
                    display: table-cell;
                    vertical-align: middle;
                    border: 1px solid #ddd;
                    padding: 10px;
                    &:first-child{
                        border-right: 0;
                    }
                }
                &:first-child{
                    > span{border-bottom: 0; font-size: 16px; font-family:$bold; color: #231f20;}
                }
            }
        }
        .msgDtList{
            margin-bottom: 30px;
            &:before, &:after{
                content:'';
                font-size: 0;
                width: 100%;
                height: 0;
                clear: both;
                height: 0;
                overflow: hidden;
            }
            .msgDtHeader, .msgDtContent{
                ul{
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    text-align: center;
                    li{
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        border: 1px solid #ddd;
                        &:first-child{border-right:0;}
                        > span{
                            border:none;
                            display: block;
                            &:first-child{
                                font-size: 13px;
                                color: #727272;
                                font-family: $regular;
                            }
                        }
                    }
                }
            }
            .msgDtHeader{
                ul{
                    li{
                        border-bottom: 0;
                        > span:first-child{font-size: 16px; font-family:$bold; color: #231f20;}
                    }
                }
            }
        }
        .tableTitleMesajGonder{
            span{
                font-size: 15px;
                font-family: $bold;
                padding: 30px 0;
                display: block;
            }
        }
        .tableMesajGonder_aciklama{
            font-size: 13px;
            color: #727272;
            padding-bottom: 30px;
        }
        .btnMesajKonuYeniGonder{margin-right: 5%;}
        .btnMesajKonuYeniGonder, .btnMesajCozuldu{
            max-width: 250px;
        }
        .mesajGonder{
            .tableMesajMetin{
                > tbody{
                    > tr{
                        > th{
                            display: block;
                            width: 100%; 
                            padding-bottom: 10px;
                            width: 160px;
                        }
                        > td{
                            display: block;
                            width: 100%; 
                        }
                        &.tableMesaj_trlbfUYE_ACIKLAMA{
                            font-size: 13px;
                            color: #727272;
                            margin-left: 160px;
                        }
                    }
                }
            }
            .pageMesajGonder_CaptchaImage1{
                max-width: 250px;
                margin-left: 160px;
                > div{
                    img, input{ margin-bottom: 10px;}
                    > span{display: block; font-size: 13px; color: #727272;}
                }
            }
            .pageMesajGonder_btnMesajGonder{
                table{
                    display: table !important;
                    text-align: left;
                    a.btnDefault {
                        max-width: 250px;
                        margin-top: 10px;
                        background: #00579c;
                        margin-left: 160px;
                        &:hover{
                            background: #f05201;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-page {
        &-member{
            .ems-page-default-message {
                padding-top: 0 !important;
                .page-top-desc {display: none;}
                .ems-message-error {margin:0px 0 150px 0;}
            }
            .ems-grid-message{
                .ems-grid-row{
                    /*min-height: 100px;
                    padding-left: 40px !important;
                    padding-right: 20px !important;*/
                    padding: 0 !important;
                    .col-1{
                        /*padding:0;
                        height: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;*/
                        
                    }
                    .col-2, .col-3, .col-4, .col-5{width:100%; padding:0;}
                    .col-5{
                        text-align: left;
                        .lnkMesajOku{
                            display: inline-block;
                            color: #231f20;
                            font-size: 14px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .kutuMesaj {
            margin-top: 0;
            .kutuBodyMesaj {
                width: 100%;
                background: $lGray;
                a {
                    border: 0 !important;
                    padding: 10px;
                    text-align: center;
                    span {
                        font-size: 12px;
                        font-family: $regular;
                    }
                }
                > div.active {
                    a {
                        background: #fff;
                    }
                }
            }
        }
    }
    .ems-page-default{
        &-message-detail{
            .btnMesajKonuYeniGonder{margin-right:0;}
            .btnMesajKonuYeniGonder, .btnMesajCozuldu{
                max-width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .btnMesajCozuldu{margin-top: 20px;}
            .mesajGonder{
                .pageMesajGonder_CaptchaImage1{max-width: 100%;}
                .pageMesajGonder_btnMesajGonder{
                    table{
                        a.btnDefault {
                            max-width: 100%;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    /* Mesajlar */

    #mesajGonder {
        .frmLeft {
            width: 100%;
            margin-right: 0;
        }
        .frmRight {
            width: 100%;
        }
        .button {
            a {
                width: 100%;
            }
        }
    }

}