/*General Definations*/
$baseHref: '//spx.proj-e.com';
//$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1420px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull:100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);
$bold: "bold";
$regular: "regular";
$medium: "medium";
$tl:"tl";

/*Site Colors*/
$ffYellowL:#ffe000;
$fdYellow:#fdde00;
$btnColor: #0054ff;
$btnAlternateColor:#0446CB;
$lBlue:#2969ff;
$edGray:#ededed;
$aGray:#a0a0a0;
$color34:#34eba0;
$eGray:#eeeeee;
$Gray42:#424242;
$Gray41:#414141;
$a4Gray:#4a4a4a;
$lGray:#f2f2f2;
$lDark:#231f20; 
$darkBlack:#000;
$colorRed: #df1a23;
$border:#d8d8d8;
$fbBtnColor:#2a4183;
$inputborder:#e5e5e5;